// VARIABLES

$color-red-dull: hsl(0, 36%, 70%);
$color-red-bright: hsl(0, 93%, 68%);

$color-red-gray: hsl(0, 6%, 24%);
///////// GENERAL SETTINGS
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 62.5%; // 10/16 = 62.5%  1rem = 10px
    @media only screen and (max-width: 40em) {
        font-size: 40%;
    }
}

// CONTAINER
.container  {
  /*OLD style
    height: 100vh;
    display: flex;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
  */
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

// HEADER
.header {
/* old style
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;

    padding-top: 5rem;
    padding-left: 15rem;
    padding-right: 18rem;
    padding-bottom: 12rem;
*/
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;

    @media only screen and (max-width: 40em) {
        height: 120vh;
        flex: 0 0 100%;
        padding: 0;
        align-items: center;

        margin-left: 0;

       }
    

    &__hero {
        visibility: hidden;
        opacity: 0;
        display: none;

        @media only screen and (max-width: 40em) {
            background-image: url(../images/hero-mobile.jpg);
            height: 35%;
            width: auto;    
            background-size: cover;
            visibility: visible;
            opacity: 1;
            display: inline;

            align-self: normal;
        }

    }
    
    &__logo {
        margin-bottom: 6rem; // old value = auto
        align-self: flex-start;

        @media only screen and (max-width: 40em) {
           margin: 5%;
        }
        
    }

    &__heading {

        span {
            color: $color-red-dull;
            font-weight: 300;
        }

        text-transform: uppercase;
        font-weight: 400;
        font-size: 6rem;
        line-height: 1.1;
        letter-spacing: 1.5rem;

        margin-bottom: 2.5rem;

        @media only screen and (max-width: 40em) {
            width: 73%;
            text-align: center;

            margin-top: 4rem;
        }
    }

    &__text { 
        font-size: 1.6rem;
        line-height: 1.8;
        color: $color-red-dull;

        padding-bottom: 5rem;

        @media only screen and (max-width: 40em) {
            width: 50%;
            text-align: center;

        }
    }

    // FORM

    &__form {
        display: flex;
        flex-wrap: wrap;

        min-width: 46rem;

        @media only screen and (max-width: 40em) {
            width: 47rem;
        }

        @media only screen and (max-width: 23.75em) {
            justify-content: center;
        }
        input::-webkit-input-placeholder {
            font-family: 'Josefin Sans', sans-serif;
            color: $color-red-dull;            
            opacity: .5;
            font-weight: 600;
        }

        &--field {
            border: 1px solid rgba($color-red-dull, .4);
            border-radius: 100px;
            height: 5rem;
            width: 43rem;
            padding: 1.5rem 2rem;

            @media only screen and (max-width: 23.75em) {
                width: 32rem;
            }

            &-label {
                order: 1;
                padding: 1rem 2.2rem;
                flex: 0 0 100%;
                font-size: 1.15rem;
                color: $color-red-bright;
                opacity: 0;
                transition: all .8s;
            }            


            &-error {
                transform: translateX(-9.5rem);
                align-self: center;
                opacity: 0;
                transition: all .2s;

            }

            &:focus {
                outline: none;

                &:invalid {
                border: 2px solid $color-red-bright;
                }
            }

            &:focus:invalid ~ &-error{
                opacity: 100;

            }

            &:focus:invalid ~ &-label{
                opacity: 100;

            }
            
        }

        &--button {
            width: 8rem;
            height: 5rem;
            border-radius: 100px;
            border: none;
            background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
            transition: all .2s;
            margin-left: -8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &-svg {
             width: 100%;
             height: 100%;
                
            }


            &:focus {
                outline:none;
            }

            &:hover {
                filter: brightness(95%);
                transform: scale(1.1);
            }

            &:active {
                transform: scale(1);
            }

        }

    }
  
}

.hero {
    align-self: center; 
    flex: 0 0 40%;

    &__image {
        width: 100%;
    }

    @media only screen and (max-width: 40em) {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}